<div>

  <div class="symbologies__buttons" *ngIf="!isIos">
    <ion-button class="symbologies__button" [strong]="true" expand="block" (click)="toggleAll(true)">ENABLE ALL</ion-button>
    <ion-button class="symbologies__button" [strong]="true" color="danger" expand="block" (click)="toggleAll(false)">DISABLE ALL</ion-button>
  </div>

  <ion-card *ngIf="isIos">
    <ion-list>
      <ion-item class="ion-activatable ripple-parent" lines="full" (click)="toggleAll(true)">Enable All</ion-item>
      <ion-item class="ion-activatable ripple-parent" lines="full" (click)="toggleAll(false)">Disable All</ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>
      <app-symbology-item
        *ngFor="let symbology of symbologies"
        [enabled]="form.value[symbology]?.enabled"
        [symbology]="symbology"
      ></app-symbology-item>
    </ion-list>
  </ion-card>

</div>
