<form [formGroup]="form">

  <ion-card>
    <ion-list>

      <app-select [formControlName]="fieldName.LOGO_ANCHOR"></app-select>

    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list>

      <app-unit-number-item
        [currentValue]="form.value[fieldName.LOGO_X]"
        [field]="fields[fieldName.LOGO_X]"
      ></app-unit-number-item>

      <app-unit-number-item
        [currentValue]="form.value[fieldName.LOGO_Y]"
        [field]="fields[fieldName.LOGO_Y]"
      ></app-unit-number-item>

    </ion-list>
  </ion-card>

</form>
